.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(117, 201, 250);
}

td {
  background-color: rgb(205, 235, 253);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}

.image img.is-rounded {
  border-radius: 290486px;
}
.image img {
  display: block;
  height: auto;
  width: 100%;
}

.button {
  position: flex;
  background-color: #B2C8DF;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px lightgray;
}

.contact-card {
  display: flex;
  flex-direction: column;
  
}




